{{- if not .Values.hosts.usePaths }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: landing-page-ingress
  annotations:
    {{- if not .Values.hosts.tls }}
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    {{- end }}
    cert-manager.io/cluster-issuer: {{ tpl (.Values.ingress.clusterIssuer | toString) . }}
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: nginx
  {{- if .Values.hosts.tls }}
  tls:
  - hosts:
    - {{ tpl (.Values.hosts.landing | toString) . }}
    secretName: landing-page-cert-secret
  {{- end }}
  rules:
  - host: {{ tpl (.Values.hosts.landing | toString) . }}
    http:
      paths:
      - backend:
          service:
            name: landing-page-service
            port:
              number: 80
        path: /
        pathType: Prefix
{{- end }}