{{- if .Values.hosts.usePaths }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ tpl (.Values.ingress.instances.name | toString) . }}
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- if not .Values.ingress.tls }}
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    {{- end }}
    nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    {{- if .Values.ingress.instances.configurationSnippets }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      {{- range .Values.ingress.instances.configurationSnippets }}
      {{ . }};
      {{- end }}
    {{- end }}
    nginx.ingress.kubernetes.io/proxy-body-size: {{ tpl (.Values.ingress.instances.proxyBodySize | toString) . }}
    {{- if .Values.ingress.addTLSSecretName }}
    {{- if .Values.ingress.certManagerAnnotations }}
    cert-manager.io/cluster-issuer: {{ tpl (.Values.ingress.clusterIssuer | toString) . }}
    {{- if .Values.ingress.theiaCloudCommonName }}
    cert-manager.io/common-name: "Theia Cloud"
    {{- end }}
    acme.cert-manager.io/http01-ingress-class: nginx
    {{- end }}
    {{- end }}
spec:
  ingressClassName: nginx
  {{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ tpl (.Values.hosts.configuration.baseHost | toString) . }}
    {{- if .Values.ingress.addTLSSecretName }}
    {{- range $wildcard := .Values.hosts.allWildcardInstances }}
    {{- if (not (hasKey $.Values.ingress.instances.allWildcardSecretNames $wildcard)) }}
    - {{ printf "%s%s" (tpl . $) (tpl $.Values.hosts.configuration.baseHost $)| quote }}
    {{- end }}
    {{- end }}
    secretName: ws-cert-secret
    {{- end }}
  {{- end }}

  {{- range $wildcard := .Values.hosts.allWildcardInstances }}
  {{- if hasKey $.Values.ingress.instances.allWildcardSecretNames $wildcard }}
  {{- $secretName := get $.Values.ingress.instances.allWildcardSecretNames $wildcard }}
  - hosts:
    - {{ printf "%s%s" (tpl $wildcard $) (tpl $.Values.hosts.configuration.baseHost $) | quote }}
    secretName: {{ tpl $secretName $ | quote }}
  {{- end }}
  {{- end }}
  {{- if not (lookup "networking.k8s.io/v1" "Ingress" .Release.Namespace  (tpl (.Values.ingress.instances.name | toString) .) ) }}
  rules:
    - host: {{ tpl (.Values.hosts.configuration.baseHost | toString) . }}
      http:
    {{- range .Values.hosts.allWildcardInstances }}
    - host: {{ printf "'%s%s'" (tpl . $) (tpl $.Values.hosts.configuration.baseHost $) }}
      http:
    {{- end }}
  {{- else }}
  rules:
    {{ range $rule := (lookup "networking.k8s.io/v1" "Ingress" .Release.Namespace (tpl (.Values.ingress.instances.name | toString) .)).spec.rules }}
    - host: {{ .host | quote }}
      {{ if .http }}
      http:
        paths:
          {{ with index .http.paths 0 }}
          - path: {{ .path }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .backend.service.name  }}
                port:
                  number: {{ .backend.service.port.number  }}
          {{- end }}
      {{ end }}
    {{- end }}
  {{- end }}
{{- end }}
