{{- if not .Values.hosts.usePaths }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ tpl (.Values.ingress.instances.name | toString) . }}
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- include "theiacloud.ingress.instances.annotations" . | nindent 4 }}
spec:
  ingressClassName: {{ include "theiacloud.ingress.className" . }}
  {{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ tpl (printf "%s.%s" .Values.hosts.configuration.instance .Values.hosts.configuration.baseHost | toString) . }}
    {{- if .Values.ingress.addTLSSecretName }}
    {{- range $wildcard := .Values.hosts.allWildcardInstances }}
    {{- if (not (hasKey $.Values.ingress.instances.allWildcardSecretNames $wildcard)) }}
    - {{ printf "%s%s.%s" (tpl . $) (tpl $.Values.hosts.configuration.instance $) (tpl $.Values.hosts.configuration.baseHost $) | quote }}
    {{- end }}
    {{- end }}
    secretName: ws-cert-secret
    {{- end }}
  {{- end }}

  {{- range $wildcard := .Values.hosts.allWildcardInstances }}
  {{- if hasKey $.Values.ingress.instances.allWildcardSecretNames $wildcard }}
  {{- $secretName := get $.Values.ingress.instances.allWildcardSecretNames $wildcard }}
  - hosts:
    - {{ printf "%s%s.%s" (tpl $wildcard $) (tpl $.Values.hosts.configuration.instance $) (tpl $.Values.hosts.configuration.baseHost $) | quote }}
    secretName: {{ tpl $secretName $ | quote }}
  {{- end }}
  {{- end }}

  {{- if not (lookup "networking.k8s.io/v1" "Ingress" .Release.Namespace  (tpl (.Values.ingress.instances.name | toString) .) ) }}
  rules:
    - host: {{ printf "%s.%s" (tpl .Values.hosts.configuration.instance .) (tpl .Values.hosts.configuration.baseHost .) }}
      http:
    {{- range .Values.hosts.allWildcardInstances }}
    - host: {{ printf "%s%s.%s" (tpl . $) (tpl $.Values.hosts.configuration.instance $) (tpl $.Values.hosts.configuration.baseHost $) | quote }}
      http:
    {{- end }}
  {{- else }}
  rules:
    - host: {{ printf "%s.%s" (tpl .Values.hosts.configuration.instance .) (tpl .Values.hosts.configuration.baseHost .) }}
      http:
    {{- range .Values.hosts.allWildcardInstances }}
    - host: {{ printf "%s%s.%s" (tpl . $) (tpl $.Values.hosts.configuration.instance $) (tpl $.Values.hosts.configuration.baseHost $) | quote }}
      http:
    {{- end }}
    {{ range $rule := (lookup "networking.k8s.io/v1" "Ingress" .Release.Namespace (tpl (.Values.ingress.instances.name | toString) .)).spec.rules }}
    {{ if .http }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{ with index .http.paths 0 }}
          - path: {{ .path }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .backend.service.name  }}
                port:
                  number: {{ .backend.service.port.number  }}
          {{- end }}
    {{ end }}
    {{- end }}
  {{- end }}
{{- end }}
