{{- if .Values.landingPage.enabled }}
{{- $logoFileExtension :=  tpl (.Values.landingPage.logoFileExtension | toString) . -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: landing-page-config
  namespace: {{ .Release.Namespace }}
data:
  config.js: |
    window.theiaCloudConfig = {
      serviceAuthToken: "{{ tpl ((.Values.service.authToken | default .Values.app.id) | toString) . }}",
      appName: "{{ tpl (.Values.app.name | toString) . }}",
      useEphemeralStorage: {{ tpl (.Values.landingPage.ephemeralStorage | toString) . }},
      useKeycloak: {{ tpl (.Values.keycloak.enable | toString) . }},
      keycloakAuthUrl: "{{ tpl (.Values.keycloak.authUrl | toString) . }}",
      keycloakRealm: "{{ tpl (.Values.keycloak.realm | toString) . }}",
      keycloakClientId: "{{ tpl (.Values.keycloak.clientId | toString) . }}",
      {{- if .Values.hosts.usePaths }}
      serviceUrl: "{{ tpl (.Values.service.protocol | toString) . }}://{{ tpl (.Values.hosts.configuration.baseHost | toString) . }}/{{ tpl (.Values.hosts.configuration.service | toString) . }}",
      {{- else }}
      serviceUrl: "{{ tpl (.Values.service.protocol | toString) . }}://{{ tpl (.Values.hosts.configuration.service | toString) . }}.{{ tpl (.Values.hosts.configuration.baseHost | toString) . }}",
      {{- end }}
      appDefinition: "{{ tpl (.Values.landingPage.appDefinition | toString) . }}",
      additionalApps: [
        {{- range $key, $val := .Values.landingPage.additionalApps }}
        {
          serviceAuthToken: {{ $key | quote}},
          appName: {{ $val.label | quote }},
        },
        {{- end }}
      ],
      logoFileExtension: "{{ $logoFileExtension }}",
      disableInfo: {{ tpl (.Values.landingPage.disableInfo | toString) . }},
      {{- if .Values.landingPage.infoText }}
      infoText: "{{ tpl (.Values.landingPage.infoText | toString) . }}",
      {{- end }}
      {{- if .Values.landingPage.infoTitle }}
      infoTitle: "{{ tpl (.Values.landingPage.infoTitle | toString) . }}",
      {{- end }}
      {{- if .Values.landingPage.loadingText }}
      loadingText: "{{ tpl (.Values.landingPage.loadingText | toString) . }}",
      {{- end }}
    };
binaryData:
  {{- if .Values.landingPage.logoData }}
  {{ printf "logo.%s: " $logoFileExtension }}{{ .Values.landingPage.logoData }}
  {{- else }}
  {{- range $path, $bytes := .Files.Glob (printf "%s" .Values.landingPage.logo)}}
  {{ printf "logo.%s: " $logoFileExtension }}{{ $.Files.Get $path | b64enc }}
  {{ end }}
  {{- end }}
{{- end }}
