{{- if .Values.landingPage.enabled }}
{{- if not .Values.hosts.usePaths }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: landing-page-ingress
  annotations:
    {{- include "theiacloud.ingress.landingPage.annotations" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: {{ include "theiacloud.ingress.className" . }}
  {{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ tpl (.Values.hosts.configuration.landing | toString) . }}.{{ tpl (.Values.hosts.configuration.baseHost | toString) . }}
    {{- if .Values.ingress.addTLSSecretName }}
    secretName: landing-page-cert-secret
    {{- end }}
  {{- end }}
  rules:
  - host: {{ tpl (.Values.hosts.configuration.landing | toString) . }}.{{ tpl (.Values.hosts.configuration.baseHost | toString) . }}
    http:
      paths:
      - backend:
          service:
            name: landing-page-service
            port:
              number: 80
        path: /
        pathType: ImplementationSpecific
{{- end }}
{{- end }}